<%- include('partials/header') -%>

<h1 class="text-center">Home</h1>
<p><%= homeText %></p>

<% if (posts) { %> 
  <% posts.map((post, index) => { %>
    <div key="<%= index %>">
      <h2>
        <%= post.title %>
      </h2>
      <p>
        <%= post.body.substring(0, 100) + "..." %>
        <a href="/posts/<%=post._id%>">Read More</a>
      </p>
    </div>
  <% }) %>
<% } %>

<%- include('partials/footer') -%>